<br>
<div
    class="p-4 mx-auto w-full max-w-sm bg-white rounded-lg border shadow-md sm:p-6 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
        <i class="fas fa-user-tie"></i> Perfil
    </h5>
    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Estas son las acciones que puedes ralizar dentro de
        la plataforma.</p>
    <ul class="my-4 space-y-3">
        <li>
            <a href="/expedientes"
                class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">

                <span class="flex-1 ml-3 whitespace-nowrap"><i class="fas fa-book"></i> Expedientes</span>
                <span
                    class="inline-flex items-center justify-center px-2 py-0.5 ml-3 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">Popular</span>
            </a>
        </li>
        <li>
            <a href="/documentos"
                class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">

                <span class="flex-1 ml-3 whitespace-nowrap"><i class="far fa-file-pdf"></i> Documentos</span>
            </a>
        </li>
        <li>
            <a href="/documentos/documentosDepurados"
                class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">

                <span class="flex-1 ml-3 whitespace-nowrap"><i class="fas fa-recycle"></i> Documentos Depurados</span>
            </a>
        </li>
        <li>
            <a href="/desbloqueo"
                class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">

                <span class="flex-1 ml-3 whitespace-nowrap"><i class="fas fa-user-lock"></i> Desbloqueo</span>
            </a>
        </li>
        <li>
            <a href="/reporte"
                class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">

                <span class="flex-1 ml-3 whitespace-nowrap"><i class="fas fa-folder-open"></i> Reporte vLife</span>
            </a>
        </li>
        <li>
            <a href="/asistencias"
                class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">

                <span class="flex-1 ml-3 whitespace-nowrap"><i class="fas fa-user-check"></i> Asistencias</span>
            </a>
        </li>
    </ul>
</div>