<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Expedientes v1.0 </title>
    <link rel="stylesheet" href="/flowbite/flowbite.min.css" />
    {{! -- FONTAWESOME --}}
    <script src="/fontawesome/fontawesome1/js/all.js" crossorigin="anonymous"></script>
    {{! -- ESTILOS --}}
    <link rel="stylesheet" href="/css/sidemenu.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/ckeditor/ckeditor.js"></script>
    <link href="/font/font.css" rel="stylesheet">
</head>

<body>
    {{> navegacion }}    
    {{{ body }}}
    {{!-- SCRIPTS --}}   
    <script src="/flowbite/flowbite.js"></script>
    <script src="/css/export.js"></script>       
</body>
</html>